    
    /********************************************
     PAGE: MAIN
    *********************************************/      
            
        nav a {
                font-family: 'Megrim', cursive;
                font-size: 10em;
                color:blue;
                text-decoration: none;
                margin-top: 350px;
                margin-left: auto;
                margin-right: auto;
        }
/*       footer {*/
/*            font-size: 0.75em;*/
/*            text-align: center;*/
            /*clear: both;/*clear of any floated elements*/
/*            padding-top:50px;*/
/*}*/


      
      .dia:hover {
      	color: white;
      }
  
  
    /********************************************
     PAGE: VESPER
    *********************************************/
    
    /*animation*/
      .vesper {
        background-color:white;
        animation-name:col;
        animation-duration:9s;
        animation-timing-function:liniar;
        animation-iteration-count:infinite;
        animation-delay: 2s;
        -webkit-animation-name:col;
         -webkit-animation-duration:9s;
         -webkit-animation-timing-function:liniar;
         -webkit-animation-iteration-count:infinite;
         -webkit-animation-delay: 2s;
           -moz-animation-name:col;
           -moz-animation-duration:9s;
           -moz-animation-timing-function:liniar;
           -moz-animation-iteration-count:infinite;
           -moz-animation-delay: 2s;
      }
      
      /*body {*/
      /*  background-color:white;*/
      /*  animation-name:col;*/
      /*  animation-duration:10s;*/
      /*  animation-timing-function:liniar;*/
      /*  animation-iteration-count:infinite;*/
      /*}*/
  
      
      @keyframes col {
       from {background-color: white;}
       to { background-color:black;}
      }
      
       @-moz-keyframes col {
       from {background-color: white;}
       to { background-color:black;}
      }
      
       @-webkit-keyframes col {
       from {background-color: white;}
       to { background-color:black;}
      }
      
      #rectangle {
        width: 200px;
        height:200px;
        border: 1px solid black;
        background-color: black;
        margin-left: auto;
        margin-right: auto;
        margin-top: center;
      } 
      
      
    /********************************************
     PAGE: MATIN
    *********************************************/ 
                
    #matin {
        
    #arectangle {
        width: 200px;
        height:200px;
        border: 1px solid white;
        background-color: white;
        margin-left: auto;
        margin-right: auto;
        margin-top: center;
      } 
    }
    
    
    #matin {
        background:url(http://40.media.tumblr.com/54ec0784d0289625d9f224e8415dc645/tumblr_npmbk4rUza1rvla60o1_1280.jpg);
        background-size: 100%;
      }
    
 /********************************************     
PAGE: REALLYREAL  
*********************************************/ 
	#real {
		
		font-family: 'Crimson Text', serif;
		color:white;
       		background: url(https://yspol.files.wordpress.com/2013/05/img_3074-e1447141541818.jpg?w=1280); 
  		background-repeat:repeat;
		}

	h1 {	color: #CA9D97;
		}
	
	#locator { 
		position: absolute; visibility: visible; left: 400px; top: 300px; z-index: 200;
		} 













   
     /********************************************
     PAGE: TEXTME
    *********************************************/

span {
    color: black;
}

 #textt{
    margin-top: -17px;
    margin-bottom:-10px;
}

    /********************************************
     PAGE: SATURATED TEXT
    *********************************************/
    
    /*animation*/
 #text {
        background-color: #0033CC;
        animation-name: coll;
        animation-duration:11s;
        animation-timing-function:liniar;
        animation-iteration-count:infinite;
        -webkit-animation-name:coll;
         -webkit-animation-duration:11s;
         -webkit-animation-timing-function:liniar;
         -webkit-animation-iteration-count:infinite;
           -moz-animation-name:coll;
           -moz-animation-duration:11s;
           -moz-animation-timing-function:liniar;
           -moz-animation-iteration-count:infinite;
      }
      
      /*body {*/
      /*  background-color:white;*/
      /*  animation-name:col;*/
      /*  animation-duration:10s;*/
      /*  animation-timing-function:liniar;*/
      /*  animation-iteration-count:infinite;*/
      /*}*/
  
      
      @keyframes coll {
       from {background-color: #0033CC;}
       to { background-color: white;}
      }
      
       @-moz-keyframes coll {
       from {background-color: #0033CC;}
       to { background-color: white;}
      }
      
       @-webkit-keyframes coll {
       from {background-color: #0033CC;}
       to { background-color: white;}
      }
      
      
      /*iframe*/
 #frame {
     
        background-color: white;
        animation-name: colll;
        animation-duration:11s;
        animation-timing-function:liniar;
        animation-iteration-count:infinite;
        -webkit-animation-name:colll;
         -webkit-animation-duration:11s;
         -webkit-animation-timing-function:liniar;
         -webkit-animation-iteration-count:infinite;
           -moz-animation-name:colll;
           -moz-animation-duration:11s;
           -moz-animation-timing-function:liniar;
           -moz-animation-iteration-count:infinite;
           margin: auto;
           height:100%;
      }
      
      @keyframes colll {
       from {background-color: white;}
       to { background-color: #0033CC;}
      }
      
       @-moz-keyframes colll {
       from {background-color: white;}
       to { background-color: #0033CC;}
      }
      
       @-webkit-keyframes colll {
       from {background-color: white;}
       to { background-color: #0033CC;}
      }

    /********************************************
     PAGE: Navii
    *********************************************/
    
    
    #naviani {
        background-color: white;
        animation-name: colln;
        animation-duration:17s;
        animation-timing-function:liniar;
        animation-iteration-count:infinite;
        -webkit-animation-name:colln;
         -webkit-animation-duration:17s;
         -webkit-animation-timing-function:liniar;
         -webkit-animation-iteration-count:infinite;
           -moz-animation-name:colln;
           -moz-animation-duration:17s;
           -moz-animation-timing-function:liniar;
           -moz-animation-iteration-count:infinite;
      }
      
      /*body {*/
      /*  background-color:white;*/
      /*  animation-name:col;*/
      /*  animation-duration:10s;*/
      /*  animation-timing-function:liniar;*/
      /*  animation-iteration-count:infinite;*/
      /*}*/
  
      
      @keyframes colln {
       from {background-color: white;}
       to { background-color: navy;}
      }
      
       @-moz-keyframes colln {
         from {background-color: white;}
       to { background-color: navy;}
      }
      
       @-webkit-keyframes colln {
        from {background-color: white;}
       to { background-color: navy;}
      }
      
      
    .lettering {
        font-size: 90px;
        color: white;
        font-family:'Codystar' sans-serif;
        background-size:cover;
       background-repeat:no-repeat;
   
      margin-top:0;
        margin-bottom:0;
        margin-left:auto;
        margin-right:auto;
    }
    
    .smaller {
        font-size:70px;
        color: navy;
        font-family:'Codystar' sans-serif;
        padding:0;
       margin-top:0;
        margin-bottom:0;
        margin-left:auto;
        margin-right:auto;
        
    }
    
     /********************************************
     PAGE: PINK
    *********************************************/
    .pink {
        background: #ffcccc;
    }
    
    #cracker {
     margin-left: auto;
     margin-right: auto;
     position: relative;
     animation: updown 20s infinite alternate;
     -webkit-animation-timing-function: linear;
     -webkit-animation: updown 20s infinite alternate;  /* Chrome, Safari, Opera */
     animation-timing-function: linear;
     animation-name: updown;
     animation-delay: 3s;
    }
    
    /* Chrome, Safari, Opera */
@-webkit-keyframes updown {
    from {top: 0px;}
    to {top: 1400px;}
}

@keyframes updown {
    from {top: 0px;}
    to {top: 1400px;}
}
    
    
    /********************************************
     PAGE: TRUE
    *********************************************/   
    
  #heart {
    position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}


#heart:before,
#heart:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0px;
    width: 50px;
    height: 80px;
    background: red;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
         -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
}

#heart:before,
#heart:after {
    background-color: red;
    -webkit-animation-name: true; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    animation-name: true;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes true {
    from {background-color: red;}
    to {background-color: white;}
}

/* Standard syntax */
@keyframes true {
    from {background-color: red;}
    to {background-color: white;}
}

#heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin :100% 100%;
}
					
    
    
