body {
background-color:#DAEE85;
font-family:Courier;
}
#box {
  background-color:white;
  border:10px dashed white;
  border-radius:5px;
  height:100px;
  width:20%;
  position:fixed;
}

#box2 {
  background-color: green;
  border: 1px solid black;
  height:200px;
  width:10%;
  clear:both;
  margin-left:1000px;
  margin-top:50px;
}

#box4 {
  background-color:blue;
  border:1px solid blue;
  border-radius:100px;
  height:50px;
  width:50%;
  margin-left:800px;
  margin-top:400px;
}
  
#box3 {
  background-color:red;
  border: 2px solid red;
  border-radius:50px;
  height:300px;
  width:10%;
  margin: 20px 30px 100px 100px;
}

h1 {
  float:right;
}
