body {
background-color:#DAEE85;
font-family:Courier;
}
#box {
  background-color:white;
  border:10px dashed white;
  border-radius:5px;
  height:100px;
  width:20%;
  position:fixed;
}

#box2 {
  background-color: #FF9999;
  border: 1px solid #FF9999;
  height:200px;
  width:10%;
  clear:both;
  margin-left:1000px;
  margin-top:50px;
}

h1 {
  float:right;
}
